  <Config>
   <Plugins>
      <Lib Name="Interp4Move.so"/>
      <Lib Name="Interp4Pause.so"/>
      <Lib Name="Interp4Rotate.so"/>
      <Lib Name="Interp4Set.so"/>
   </Plugins>
   <Objects>
      <Cube Name="Ob_A" SizeXYZ="10 15 5"    RGB="0 0 255"/>
      <Cube Name="Ob_B" SizeXYZ="8 11.5 5"   RGB="10 0 255"/>
      <Cube Name="Ob_C" SizeXYZ="12 13.5 5"  RGB="10 200 255"/>
   </Objects>
  </Config>
  
